@model NREPPAdminSite.Models.AssignmentPageModel
@{
    ViewBag.Title = "Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/assignmentjs.js")"></script>
}

<div class="col-sm-6 col-sm-offset-3">
<h2>Workflow</h2>

@{
    // Text = dest.UserName, Value = dest.UserId.ToString() + "," + dest.StatusId.ToString()
    
    List<SelectListItem> LitReviewOpts = new List<SelectListItem>();

    foreach (NREPPAdminSite.Models.Destination dest in Model.TheLitReviews)
    {
        LitReviewOpts.Add(new SelectListItem() { Text = dest.UserName, Value = dest.UserId.ToString() });
        
    }
}

    <div>
     @if (Model.CanDo("AssignLitReview"))
     { 
          using(Html.BeginForm("SetLitReview", "Program"))
          {
      
            @Html.Hidden("InvId", @Model.InvId);
      
            @Html.DropDownList("LitReview", LitReviewOpts)
            <input type="submit" value="Assign Literature Review" />
          }
     }

        @if (Model.HasReviewer)
        {
            <span>Literature Reviewer: </span><span>@Model.LitReviewer</span>
        }
    
    </div>

<div class="workflow">
<br />
    @using(Html.BeginForm("Assign", "Program"))
    {
        @Html.Hidden("ValueString") 
    <ul style="list-style-type: none;" class="p-0">
        @foreach(NREPPAdminSite.Models.Destination dest in Model.TheDests)
        {
            <li class="m-b-20"> @dest.StatusName to user @dest.UserName
<input class="btn-primary btn-block" type="submit" value="@dest.DestDescription" onclick="selectAssignment(this); return true;" />

<input type="hidden" value="@string.Format("{0};{1};{2}", @dest.StatusId, @dest.UserId, @Model.InvId)" />        
</li>
        }
    </ul>
    }
</div>
</div>

