@model NREPPAdminSite.Models.AssignReviewModel
@{
    ViewBag.Title = "Reviewer Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <h2 class="header-container">Assign Reviewers to the Program</h2>
    </div>
    <div class="row">
        @if (Model.AssignedReviewers.Any())
        {
            <h3>Current Reviewers</h3>
            <br/>
            <div class="row">
                <div class="col-sm-12">
                    @Html.Hidden("InterventionId", Model.InterventionId)
                    <div class="table-responsive">
                        <table id="tblCurrentReviewers" class="display table">
                            <thead class="bg-info">
                                <tr>
                                    <th>Reviewer Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @foreach (NREPPAdminSite.Models.ReviewerOnInterv rev in Model.AssignedReviewers)
                            {
                                <tr>
                                    <td>@rev.Name</td>
                                    <td>@rev.ReviewerStatus</td>
                                    <td><a href="#" onclick="removeReviewer('@rev.Id');" title="Remove"><i class="fa fa-user-times"></i></a></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">
        
        <div class="col-sm-12 filter-list">
            <div class="col-sm-12">
                <h3 class="header-container">Search reviewers in the system</h3>
                <br />
            </div>
            <div class="col-sm-12">
                <ul class="list" style="padding-left: 0">
                    <li class="col-sm-4">
                        <label for="ftrFirstName">First Name</label>
                        <input id="ftrFirstName" type="text" class="form-control filter-input" placeholder="First Name" data-fieldname="FirstName" data-column="0">
                    </li>
                    <li class="col-sm-4" style="padding-bottom: 5px">
                        <label for="ftrLastName">Last Name</label>
                        <input id="ftrLastName" type="text" class="form-control filter-input" placeholder="Last Name" data-fieldname="LastName" data-column="1">
                    </li>
                    <li class="col-sm-4" style="padding-bottom: 5px">
                        <label for="ftrEmployer">Employer</label>
                        <input id="ftrEmployer" type="text" class="form-control filter-input" placeholder="Employer" data-fieldname="Employer" data-column="2">
                    </li>
                    <li class="col-sm-4" style="padding-bottom: 5px">
                        <label for="ftrEmployer">Department</label>
                        <input id="ftrDepartment" type="text" class="form-control filter-input" placeholder="Department" data-fieldname="Department" data-column="3">
                    </li>
                    <li class="col-sm-4" style="padding-bottom: 5px">
                        <label for="ftrReviewerType">Reviewer Type</label>
                        <input id="ftrReviewerType" type="text" class="form-control filter-input" placeholder="Reviewer Type" data-fieldname="ReviewerType" data-column="4">
                    </li>
                    <li class="col-sm-4" style="padding-bottom: 5px">
                        <label for="ftrDegree">Degree</label>
                        <input id="ftrDegree" type="text" class="form-control filter-input" placeholder="Degree" data-fieldname="Degree" data-column="5">
                    </li>
                </ul>
            </div>
        </div>
       
    </div>

    <div class="row">
        <div class="col-sm-12">
            @Html.Hidden("InterventionId", Model.InterventionId)
            <div class="table-responsive">
                <table id="tblReviewers" class="display table">
                    <thead class="bg-info">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Employer</th>
                            <th>Department</th>
                            <th>Reviewer Type</th>
                            <th>Degree</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    function assignReviewer(id) {
        var request = { id: id, interventionId: $("#InterventionId").val() };
        $.ajax({
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(request),
            type: "POST",
            url: "AssignReview",
            async: true,
            success: function (response) {
                if (response.Success) {
                    window.location.reload();
                }
                else {
                    console.log(response.Message);
                }
            },
            error: function (jqXHR, timeout, message) {
                var contentType = jqXHR.getResponseHeader("Content-Type");
                if (jqXHR.status === 200 && contentType.toLowerCase().indexOf("text/html") >= 0) {
                    window.location.reload();
                    return;
                }

            }
        });
    }

    function removeReviewer(id) {
        var request = { id: id, interventionId: $("#InterventionId").val() };
        $.ajax({
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(request),
            type: "POST",
            url: "RemoveReviewer",
            async: true,
            success: function (response) {
                if (response.Success) {
                    window.location.reload();
                }
                else {
                    console.log(response.Message);
                }
            },
            error: function (jqXHR, timeout, message) {
                var contentType = jqXHR.getResponseHeader("Content-Type");
                if (jqXHR.status === 200 && contentType.toLowerCase().indexOf("text/html") >= 0) {
                    window.location.reload();
                    return;
                }

            }
        });
    }

    $(document).ready(function () {

        var reviewerTable = $('#tblReviewers').DataTable({
            sDom: '<"top"pl>it<"clear">',
            ajax: "ReviewersList",
            serverSide: true,
            columns: [
                { "data": "FirstName" },
                { "data": "LastName" },
                { "data": "Employer" },
                { "data": "Department" },
                { "data": "ReviewerType" },
                { "data": "Degree" },
                {
                    "data": "Id",
                    "render": function (data) {
                        return '<a href="#" onclick="assignReviewer(\'' + data + '\');" title="Invite to Review"><i class="fa fa-user-plus"></i></a>';
                    }
                }
            ]
        });

        $(".filter-input").on("keyup", function () {6
            reviewerTable.column($(this).attr('data-column')).search($(this).val()).draw();
        });
    });
</script>

