
@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/chosen.jquery.min.js")"></script>
}




@{
    ViewBag.Title = "Consensus";
    Layout = "~/Views/Shared/_Layout.cshtml";

    NREPPAdminSite.Models.QoRAnswer ans1 = new NREPPAdminSite.Models.QoRAnswer();
    NREPPAdminSite.Models.QoRAnswer ans2 = new NREPPAdminSite.Models.QoRAnswer();

    ans1.TaxOutcomeName = ans2.TaxOutcomeName = "Co-occurring/ dual disorders";
    ans1.AnswerTypeName = ans2.AnswerTypeName = "Rigor Score";
    ans1.StudyId = ans2.StudyId = 1;
    ans1.FixedAnswer = ans1.CalcAnswer = "2.35";
    ans2.FixedAnswer = ans2.CalcAnswer = "2.34";
    ans1.ReviewerName = "Patrick";
    ans2.ReviewerName = "Prentice";

    NREPPAdminSite.Models.QoRAnswer ans3 = new NREPPAdminSite.Models.QoRAnswer();
    NREPPAdminSite.Models.QoRAnswer ans4 = new NREPPAdminSite.Models.QoRAnswer();

    ans3.TaxOutcomeName = ans4.TaxOutcomeName = "Co-occurring/ dual disorders";
    ans3.AnswerTypeName = ans4.AnswerTypeName = "Rigor Score";
    ans3.StudyId = ans4.StudyId = 2;
    ans3.FixedAnswer = ans3.CalcAnswer = "2.35";
    ans4.FixedAnswer = ans4.CalcAnswer = "2.35";
    ans3.ReviewerName = "Patrick";
    ans4.ReviewerName = "Prentice";

    NREPPAdminSite.Models.QoRAnswer ans5 = new NREPPAdminSite.Models.QoRAnswer();
    NREPPAdminSite.Models.QoRAnswer ans6 = new NREPPAdminSite.Models.QoRAnswer();

    ans5.TaxOutcomeName = ans6.TaxOutcomeName = "Co-occurring/ dual disorders";
    ans5.AnswerTypeName = ans6.AnswerTypeName = "Effect";
    ans5.StudyId = ans6.StudyId = 1;
    ans5.FixedAnswer = ans5.CalcAnswer = "Positive";
    ans6.FixedAnswer = ans6.CalcAnswer = "Negative";
    ans5.ReviewerName = "Patrick";
    ans6.ReviewerName = "Prentice";

    NREPPAdminSite.Models.QoRAnswer ans7 = new NREPPAdminSite.Models.QoRAnswer();
    NREPPAdminSite.Models.QoRAnswer ans8 = new NREPPAdminSite.Models.QoRAnswer();

    ans7.TaxOutcomeName = ans8.TaxOutcomeName = "Co-occurring/ dual disorders";
    ans7.AnswerTypeName = ans8.AnswerTypeName = "Effect";
    ans7.StudyId = ans8.StudyId = 2;
    ans7.FixedAnswer = ans7.CalcAnswer = "Positive";
    ans8.FixedAnswer = "Positive";
    ans8.CalcAnswer = "Negative";
    ans7.ReviewerName = "Patrick";
    ans8.ReviewerName = "Prentice";

    NREPPAdminSite.Models.QoRAnswer ans9 = new NREPPAdminSite.Models.QoRAnswer();
    NREPPAdminSite.Models.QoRAnswer ans10 = new NREPPAdminSite.Models.QoRAnswer();

    ans9.AnswerTypeName = ans10.AnswerTypeName = "Fidelity";
    ans9.StudyId = ans10.StudyId = 1;
    ans9.FixedAnswer = ans9.CalcAnswer = "1";
    ans10.FixedAnswer = ans10.CalcAnswer = "1";
    ans9.ReviewerName = "Patrick";
    ans10.ReviewerName = "Prentice";

    NREPPAdminSite.Models.QoRAnswer ans11 = new NREPPAdminSite.Models.QoRAnswer();
    NREPPAdminSite.Models.QoRAnswer ans12 = new NREPPAdminSite.Models.QoRAnswer();

    ans11.AnswerTypeName = ans12.AnswerTypeName = "Fidelity";
    ans11.StudyId = ans12.StudyId = 1;
    ans11.FixedAnswer = ans11.CalcAnswer = "1";
    ans12.FixedAnswer = ans12.CalcAnswer = "0";
    ans11.ReviewerName = "Patrick";
    ans12.ReviewerName = "Prentice";

    NREPPAdminSite.Models.QoRAnswer ans13 = new NREPPAdminSite.Models.QoRAnswer();
    NREPPAdminSite.Models.QoRAnswer ans14 = new NREPPAdminSite.Models.QoRAnswer();

    ans13.AnswerTypeName = ans14.AnswerTypeName = "Rigor Score";
    ans13.TaxOutcomeName = ans14.TaxOutcomeName = "Obsessive-compulsive disorders/ symptoms";
    ans13.StudyId = ans14.StudyId = 1;
    ans13.FixedAnswer = ans13.CalcAnswer = "1.26";
    ans14.FixedAnswer = ans14.CalcAnswer = "1.26";
    ans13.ReviewerName = "Patrick";
    ans14.ReviewerName = "Prentice";

    NREPPAdminSite.Models.QoRAnswer ans15 = new NREPPAdminSite.Models.QoRAnswer();
    NREPPAdminSite.Models.QoRAnswer ans16 = new NREPPAdminSite.Models.QoRAnswer();

    ans15.TaxOutcomeName = ans16.TaxOutcomeName = "Obsessive-compulsive disorders/ symptoms";
    ans15.AnswerTypeName = ans16.AnswerTypeName = "Effect";
    ans15.StudyId = ans16.StudyId = 1;
    ans15.FixedAnswer = ans15.CalcAnswer = "Positive";
    ans16.FixedAnswer = ans16.CalcAnswer = "Positive";
    ans15.ReviewerName = "Patrick";
    ans16.ReviewerName = "Prentice";

    NREPPAdminSite.Models.QoRAnswer ans17 = new NREPPAdminSite.Models.QoRAnswer();
    NREPPAdminSite.Models.QoRAnswer ans18 = new NREPPAdminSite.Models.QoRAnswer();

    ans17.AnswerTypeName = ans18.AnswerTypeName = "Fidelity";
    ans17.StudyId = ans18.StudyId = 1;
    ans17.FixedAnswer = ans17.CalcAnswer = "1";
    ans18.FixedAnswer = ans18.CalcAnswer = "1";
    ans17.ReviewerName = "Patrick";
    ans18.ReviewerName = "Prentice";


    NREPPAdminSite.Models.QoRAnswer ans19 = new NREPPAdminSite.Models.QoRAnswer();
    NREPPAdminSite.Models.QoRAnswer ans20 = new NREPPAdminSite.Models.QoRAnswer();

    ans19.AnswerTypeName = ans20.AnswerTypeName = "Rigor Score";
    ans19.TaxOutcomeName = ans20.TaxOutcomeName = "Obsessive-compulsive disorders/ symptoms";
    ans19.StudyId = ans20.StudyId = 2;
    ans19.FixedAnswer = ans19.CalcAnswer = "1.26";
    ans20.FixedAnswer = ans20.CalcAnswer = "1.26";
    ans19.ReviewerName = "Patrick";
    ans20.ReviewerName = "Prentice";

    NREPPAdminSite.Models.QoRAnswer ans21 = new NREPPAdminSite.Models.QoRAnswer();
    NREPPAdminSite.Models.QoRAnswer ans22 = new NREPPAdminSite.Models.QoRAnswer();

    ans21.TaxOutcomeName = ans22.TaxOutcomeName = "Obsessive-compulsive disorders/ symptoms";
    ans21.AnswerTypeName = ans22.AnswerTypeName = "Effect";
    ans21.StudyId = ans22.StudyId = 2;
    ans21.FixedAnswer = ans21.CalcAnswer = "Positive";
    ans22.FixedAnswer = ans22.CalcAnswer = "Positive";
    ans21.ReviewerName = "Patrick";
    ans22.ReviewerName = "Prentice";

    NREPPAdminSite.Models.QoRAnswer ans23 = new NREPPAdminSite.Models.QoRAnswer();
    NREPPAdminSite.Models.QoRAnswer ans24 = new NREPPAdminSite.Models.QoRAnswer();

    ans23.AnswerTypeName = ans24.AnswerTypeName = "Fidelity";
    ans23.StudyId = ans24.StudyId = 2;
    ans23.FixedAnswer = ans23.CalcAnswer = "1";
    ans24.FixedAnswer = ans24.CalcAnswer = "0";
    ans23.ReviewerName = "Patrick";
    ans24.ReviewerName = "Prentice";
}

@using NREPPAdminSite

<h2>Consensus</h2>

<div>
    <table>
        <tr>
            <th style="border: 1px solid; text-align: center;">Outcome</th>
            <th style="border: 1px solid; text-align: center;">Study #</th>
            <th colspan="2" style="border: 1px solid; text-align: center;">@ans1.AnswerTypeName</th>
            <th colspan="2" style="border: 1px solid; text-align: center;">@ans5.AnswerTypeName</th>
            <th colspan="2" style="border: 1px solid; text-align: center;">@ans9.AnswerTypeName</th>
        </tr>
        <tr>
            <th style="border: 1px solid; text-align: center;">Outcome</th>
            <th style="border: 1px solid; text-align: center;">Study #</th>
            <th style="border: 1px solid; text-align: center;">@ans1.ReviewerName</th>
            <th style="border: 1px solid; text-align: center;">@ans2.ReviewerName</th>
            <th style="border: 1px solid; text-align: center;">@ans1.ReviewerName</th>
            <th style="border: 1px solid; text-align: center;">@ans2.ReviewerName</th>
            <th style="border: 1px solid; text-align: center;">@ans1.ReviewerName</th>
            <th style="border: 1px solid; text-align: center;">@ans2.ReviewerName</th>
        </tr>
        <tr>
            <td style="text-align: right; border: 1px solid;">@ans1.TaxOutcomeName</td>
            <td style="text-align: right; border: 1px solid;">@ans1.StudyId</td>
            @NREPPHtml.CompareBlock(ans1, ans2)
            @NREPPHtml.CompareBlock(ans5, ans6)
            @NREPPHtml.CompareBlock(ans9, ans10)
        </tr>
        <tr>
            <td style="text-align: right; border: 1px solid;">@ans3.TaxOutcomeName</td>
            <td style="text-align: right; border: 1px solid;">@ans3.StudyId</td>
            @NREPPHtml.CompareBlock(ans3, ans4)
            @NREPPHtml.CompareBlock(ans7, ans8)
            @NREPPHtml.CompareBlock(ans11, ans12)
        </tr>
        <tr>
            <td style="text-align: right; border: 1px solid;">@ans13.TaxOutcomeName</td>
            <td style="text-align: right; border: 1px solid;">@ans13.StudyId</td>
            @NREPPHtml.CompareBlock(ans13, ans14)
            @NREPPHtml.CompareBlock(ans15, ans16)
            @NREPPHtml.CompareBlock(ans17, ans18)
        </tr>
        <tr>
            <td style="text-align: right; border: 1px solid;">@ans19.TaxOutcomeName</td>
            <td style="text-align: right; border: 1px solid;">@ans19.StudyId</td>
            @NREPPHtml.CompareBlock(ans19, ans20)
            @NREPPHtml.CompareBlock(ans21, ans22)
            @NREPPHtml.CompareBlock(ans23, ans24)
            <td><input type="checkbox" name="selectme" /></td>
        </tr>
    </table>
</div>

<div>
    <button onclick="GenEmail(); return false;">Generate Email</button>
    <table id="resultsTable"></table>
</div>

<div>
    @using (Html.BeginForm("SaveConsensusNotes"))
    {
        <span>Something goes here when I am ready</span>
    }
</div>

<script type="text/javascript">
    var TableList = new Array();
    function GetRow(inCrtl) {
        var td = $(inCrtl).parent();
        var innerHTML = $(td).parent("tr").html();
        var ignoreme = /\<td\>\<input type="checkbox"\s/;
        var location = innerHTML.search(ignoreme);
        
        return "<tr>" + innerHTML.substring(0, location) + "</tr>";
    }

    function testFunc()
    {
        alert(GetRow("#thisButton"));
    }

    function GenEmail() {
        $("#resultsTable").html(TableList.join(""));
    }

    $("#thisButton").click(function () {
        alert(GetRow(this));
    });

    $("input[name*='selectme']").click(function () {
        TableList.push(GetRow(this));
    });
</script>

