@model NREPPAdminSite.Models.IntervPageModel

@{
    ViewBag.Title = "Submission2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/submission2.js")"></script>
}

<div class="col-sm-6 col-sm-offset-3 submission-scope">
<h2>Step 1. Minimum Criteria for Submission</h2><br />

@using(Html.BeginForm("Submit2", "Program"))
{
    @Html.HiddenFor(m => m.TheIntervention.Id, new { Id = "Id" });
    @Html.HiddenFor(m => m.TheIntervention.ProgramType, new { Id = "programType" });
    @Html.HiddenFor(m => m.TheIntervention.UserPreScreenMask, new { Id = "userPreScreenAns" })
    @Html.HiddenFor(m => m.TheIntervention.Id)

    @Html.LabelFor(m => m.TheIntervention.Title)
    @Html.TextBoxFor(m => m.TheIntervention.Title) <br />
    
    @Html.LabelFor(m => m.TheIntervention.Acronym)
    @Html.TextBoxFor(m => m.TheIntervention.Acronym)<br />

    <p>Please select (all that apply)</p>
    <ul style="list-style-type: none;" class="submission-li-scope">

        @foreach (NREPPAdminSite.Models.MaskValue mask in Model.ProgramType)
        {
            bool isChecked = mask.Selected;
            <li>@Html.CheckBox(mask.Name, isChecked, new { Value = Math.Pow(2, mask.Value), @class = "programMask" }) @mask.Name</li>
        }

    </ul>
    
    <div>
        @Html.LabelFor(m => m.TheIntervention.PrimaryName)
        @Html.TextBoxFor(m => m.TheIntervention.PrimaryName)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.PrimaryOrg)
        @Html.TextBoxFor(m => m.TheIntervention.PrimaryOrg)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.PrimaryTitle)
        @Html.TextBoxFor(m => m.TheIntervention.PrimaryTitle)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.PrimaryAddressLine1)
        @Html.TextBoxFor(m => m.TheIntervention.PrimaryAddressLine1)<br />
        @Html.TextBoxFor(m => m.TheIntervention.PrimaryAddressLine2)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.PrimaryCity)
        @Html.TextBoxFor(m => m.TheIntervention.PrimaryCity)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.PrimaryState)
        @Html.TextBoxFor(m => m.TheIntervention.PrimaryState)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.PrimaryZip)
        @Html.TextBoxFor(m => m.TheIntervention.PrimaryZip)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.PrimaryPhoneNumber)
        @Html.TextBoxFor(m => m.TheIntervention.PrimaryPhoneNumber)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.PrimaryFaxNumber)
        @Html.TextBoxFor(m => m.TheIntervention.PrimaryFaxNumber)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.PrimaryEmail)
        @Html.TextBoxFor(m => m.TheIntervention.PrimaryEmail)<br /> <br />
    </div>
    
    <div>
        @Html.LabelFor(m => m.TheIntervention.SecondaryName)
        @Html.TextBoxFor(m => m.TheIntervention.SecondaryName)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.SecondaryOrg)
        @Html.TextBoxFor(m => m.TheIntervention.SecondaryOrg)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.SecondaryTitle)
        @Html.TextBoxFor(m => m.TheIntervention.SecondaryTitle)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.SecondaryAddressLine1)
        @Html.TextBoxFor(m => m.TheIntervention.SecondaryAddressLine1)<br />
        @Html.TextBoxFor(m => m.TheIntervention.SecondaryAddressLine2)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.SecondaryCity)
        @Html.TextBoxFor(m => m.TheIntervention.SecondaryCity)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.SecondaryState)
        @Html.TextBoxFor(m => m.TheIntervention.SecondaryState)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.SecondaryZip)
        @Html.TextBoxFor(m => m.TheIntervention.SecondaryZip)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.SecondaryPhoneNumber)
        @Html.TextBoxFor(m => m.TheIntervention.SecondaryPhoneNumber)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.SecondaryFaxNumber)
        @Html.TextBoxFor(m => m.TheIntervention.SecondaryFaxNumber)<br /> <br />

        @Html.LabelFor(m => m.TheIntervention.SecondaryEmail)
        @Html.TextBoxFor(m => m.TheIntervention.SecondaryEmail)<br /> <br />
    </div>
    
    <p>
       You must have at least one evaluation study that meets the <a href="#">NREPP minimum criteria</a>. Please respond to the following questions:
    </p>

    foreach (NREPPAdminSite.Models.MaskValue mask in Model.UserPreScreen)
    {
        bool isChecked = mask.Selected;
        string maskString = string.Format("{0}. {1}", mask.Value, mask.Name);

        if (mask.Value > 2)
        {
            <span class="preQuestion_@mask.Value.ToString() submission-radio-scope">
                <span>@maskString</span><br /> @Html.RadioButton(mask.Name, Math.Pow(2, mask.Value), isChecked, new { @class = "userPreScreenMask" })<span>Yes</span>
                @Html.RadioButton(mask.Name, 0, !isChecked, new { @class = "userPreScreenMask" })<span>No.</span><br />
            </span>
        }
        else
        {
            <span class="preQuestion_@mask.Value.ToString() submission-radio-scope">
                <span>@maskString</span><br /> @Html.RadioButton(mask.Name, Math.Pow(2, mask.Value), isChecked, new { @class = "userPreScreenMask" })<span>Yes</span>
                @Html.RadioButton(mask.Name, 0, !isChecked, new { @class = "userPreScreenMask" })<span>No.</span><br />
            </span>
        }

    }
    
    <div>
        <input type="submit" value="Continue" class="btn btn-primary" />
    </div>
}
</div>
