@model NREPPAdminSite.Models.IntervPageModel

@{
    ViewBag.Title = "Step 3 of Submission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-6 col-sm-offset-3 submission-scope">
<h2>Page 6 of Submission</h2><br />

<h3>Dissemination Information</h3>

<div>
    @using (Html.BeginForm("Submit6", "Program"))
    {
        @Html.HiddenFor(m => m.TheIntervention.Id);
        @Html.HiddenFor(m => m.TheIntervention.SubmitterId);
        @Html.HiddenFor(m => m.TheIntervention.StatusId);
        @Html.HiddenFor(m => m.TheIntervention.ProgramType);
        @Html.HiddenFor(m => m.TheIntervention.Title)
        @Html.HiddenFor(m => m.TheIntervention.FromLitSearch)
        @Html.HiddenFor(m => m.TheIntervention.FullDescription)
        @Html.HiddenFor(m => m.TheIntervention.SubmitterId)
        @Html.HiddenFor(m => m.TheIntervention.UpdatedDate)
        @Html.HiddenFor(m => m.TheIntervention.Acronym)
        @Html.HiddenFor(m => m.TheIntervention.UserPreScreenMask)
        
        @Html.Hidden("Dest");
        
        <span>Do you plan to mail any dissemination materials that are not available electronically?</span>
        <ul style="list-style-type: none" class="submission6-radio">
            <li>@Html.RadioButton("HaveMaterials", 1, Model.TheIntervention.HaveMaterials) Yes</li>
            <li>@Html.RadioButton("HaveMaterials", 0, !Model.TheIntervention.HaveMaterials) No</li>
        </ul>
        
        <label>Please list the materials below:</label>
        <br />
        @Html.TextAreaFor(m => m.TheIntervention.MaterialsList)
        
        <div><strong><br /><br />All mailed materials should be sent to:</strong>
        <br />Development Services Group, Inc.
        <br />NREPP Application Submission
        <br />7315 Wisconsin Avenue, Suite 800E
        <br />Bethesda, MD 20814
        </div>
        
        <br />
        <span class="btn btn-secondary">@Html.ActionLink("Return to Document Uploads", "Submission4", new {InvId = Model.TheIntervention.Id})</span>
        <input type="submit" value="Save and Continue" class="btn btn-primary" onclick="$('#Dest').val('continue'); return true;" />
    }
</div>
</div>

