@model NREPPAdminSite.Models.Intervention

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Viewing @Model.Title</h2>
<h3>Submitted by @Model.Submitter</h3>

<div>
    <div style="padding-top: 10px; padding-bottom: 10px;">
        @Model.FullDescription
    </div>

    <div style="height: 45px;">
        <span style="float: left; clear: left;">
            Last Updated On:
        </span>
        <span style="float: left; clear: right; margin-left: 5px;">@Model.UpdatedDate.ToShortDateString()</span>

        <span style="float: left; clear: left;">
            Published On:
        </span>
        <span style="float: left; clear: right; margin-left: 5px;">@(Model.PublishDate.HasValue ? Model.PublishDate.GetValueOrDefault().ToShortDateString() : "Not Published")</span>
    </div>

    <div>
        @using(Html.BeginForm("Edit", "Program"))
        {
            @Html.HiddenFor(m => m.Id);
            @Html.HiddenFor(m => m.SubmitterId);
            @Html.HiddenFor(m => m.StatusId);
            
            @Html.LabelFor(m => m.Title, new { style = "margin-right: 5px;" });
            @Html.TextBoxFor(m => m.Title);
            <br /><br />
            
            @Html.LabelFor(m => m.FullDescription);
            <br />
            @Html.TextAreaFor(m => m.FullDescription, new {cols = "150", rows = "5"}) ;
            <br /><br />
            
            <input type="submit" value="Update" />
        }
    </div>

    @if(Model.Id > 0)
    {
        <div style="margin-top: 20px;">
            This belongs here...

            @using (Html.BeginForm("Upload", "Program", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.Id);
                @Html.HiddenFor(m => m.SubmitterId);
                @Html.HiddenFor(m => m.StatusId);
                //@Html.HiddenFor(m => )
                
                <span>File: </span><input type="file" name="UploadedFile" /> <br />
                <span>Document Title: </span><input type="text" name="FileDescription" />
                <br /><br />
                <input type="submit" value="Submit" />
            }
        </div>
    }
</div>

