@model NREPPAdminSite.Models.IntervPageModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var NumDocs = Model.Documents.Count;
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/programview.js")"></script>
}

<h2>Viewing @Model.TheIntervention.Title</h2>
<h3>Submitted by @Model.TheIntervention.Submitter</h3>
<label>@Model.TheIntervention.Status</label><br />

@if (Model.TheIntervention.StatusId == 4) {
    @Html.ActionLink("Screen this Intervention", "Screen", new { InterventionId = Model.TheIntervention.Id });
}
else if (Model.TheIntervention.StatusId == 5)
{
    @Html.ActionLink("View Screening Results", "ScreenResults", new { IntervId = Model.TheIntervention.Id });
}
<div>
    @if (Model.TheIntervention.Id < 0)
    {
        <div>
            <p>
                Welcome to the NREPP submission process. Our open submission period runs from @ViewBag.StartDate to @ViewBag.EndDate. You will be prompted for information required to submit an application for your program. If you are submitting more than one program, you will need to submit information about one program at a time.
            </p>
            <p>
                Your account allows you to initiate an application and save your work until you complete the submission.  After you have entered and uploaded all of the required information, you must press the Submit button for your application to be processed.
            </p>

            <p>
                For more information about the submission and review process, click here. Questions regarding your submission can be sent to nreppadmin@dsgonline.com. <b>All applications must be completed and submitted by @ViewBag.EndDate</b>.
            </p>
        </div>
    }
    
    <div>

    @foreach (NREPPAdminSite.Models.MaskValue mask in Model.UserPreScreen)
    {
        bool isChecked = mask.Selected;

        @Html.CheckBox(mask.Name, isChecked, new { Value = Math.Pow(2, mask.Value), @class = "userPreScreenMask" }) @mask.Name <br />
    }

        @{
            string formContentClass = Model.TheIntervention.Id > 0 ?  "formContent" : "formContent hidden";
        }
    </div>

    <div class="@formContentClass">
    @if (Model.TheIntervention.StatusId > 1) { 
        
    <div style="height: 100px;">
        <span style="float: left; clear: left;">
            Last Updated On:
        </span>
        <span style="float: left; clear: right; margin-left: 5px;">@Model.TheIntervention.UpdatedDate.ToShortDateString()</span>

        <span style="float: left; clear: left;">
            Published On:
        </span>
        <span style="float: left; clear: right; margin-left: 5px;">@(Model.TheIntervention.PublishDate.HasValue ? Model.TheIntervention.PublishDate.GetValueOrDefault().ToShortDateString() : "Not Published")</span>

        <div class="description">
            <span style="float: left;">@Model.TheIntervention.FullDescription</span>
        </div>
    </div>
        
    }
    else { 

    <div class="mainForm">
        @using(Html.BeginForm("Edit", "Program"))
        {
            @Html.HiddenFor(m => m.TheIntervention.Id);
            @Html.HiddenFor(m => m.TheIntervention.SubmitterId);
            @Html.HiddenFor(m => m.TheIntervention.StatusId);
            @Html.HiddenFor(m => m.TheIntervention.ProgramType, new { Id = "programType" });
            @Html.HiddenFor(m => m.TheIntervention.UserPreScreenMask, new { Id = "userPreScreenAns" })

            @Html.LabelFor(m => m.TheIntervention.Title, new { style = "margin-right: 5px;" });
            @Html.TextBoxFor(m => m.TheIntervention.Title);<br />
            
            @Html.LabelFor(m => m.TheIntervention.Acronym, new { style = "margin-right: 5px;" });
            @Html.TextBoxFor(m => m.TheIntervention.Acronym);
            <br /><br />
            
            @Html.LabelFor(m => m.TheIntervention.FullDescription);
            <br />
            @Html.TextAreaFor(m => m.TheIntervention.FullDescription, new {cols = "150", rows = "5"}) ;
            <br /><br />
            
            foreach (NREPPAdminSite.Models.MaskValue mask in Model.ProgramType)
            {
                bool isChecked = mask.Selected;
                @Html.CheckBox(mask.Name, isChecked, new { Value = Math.Pow(2, mask.Value), @class = "programMask" }) @mask.Name <br />
            }
            <br /><br />

            <input type="submit" value="Update" />
        }
    </div>
    }

    @if (Model.TheIntervention.Id > 0)
    {
        <div class="numOfDocs">
            <span>@Model.Documents.Count Documents Attached to This Program</span>
            <button id="DocButton">View Documents</button>
        </div>
        
        <div class="upload-div hidden">
            <span class="collapsedText hidden">@NumDocs Documents On this Intervention</span>
            @if (Model.CanDo("SeeRCDocs"))
            {
                <div>RC Doc Display here</div>
            } else { 
            <table style="border: 1px solid;">
                <tr> <!-- Header -->
                    <th class="withborder" style="text-align: center;">Description</th>
                    <th class="withborder" style="text-align: center;">Type</th>
                    <th class="withborder" style="text-align: center;">&nbsp;</th>
                </tr>
                    @foreach (NREPPAdminSite.Models.InterventionDoc doc in Model.Documents)
                    {
                        <tr>
                            <td class="withborder">@Html.ActionLink(@doc.FileDescription, "GetFile", "Admin", new { FileId = doc.DocId }, null)</td>
                            <td class="withborder">@doc.DocumentTypeName</td>
                            <td class="withborder">@Html.ActionLink("Delete", "DeleteDocument", new { InvId = Model.TheIntervention.Id, DocId = doc.DocId })</td>
                        </tr>
                    }   
            </table>
            }

            @{
                List<SelectListItem> DocTypez = new List<SelectListItem>();
                
                foreach(NREPPAdminSite.Models.Answer ans in Model.DocumentType)
                {
                    DocTypez.Add(new SelectListItem() { Text = ans.ShortAnswer, Value = ans.AnswerId.ToString() });
                }
            }

            @using (Html.BeginForm("Upload", "Program", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.TheIntervention.Id);
                @Html.HiddenFor(m => m.TheIntervention.SubmitterId);
                @Html.HiddenFor(m => m.TheIntervention.StatusId);
                @Html.HiddenFor(m => m.TheIntervention.ProgramType);
                
                
                    
                if (Model.TheIntervention.StatusId == 1 && Model.CanDo("UploadDocs"))
                {
                        <p>
                            You may now upload key documents relevant to the review of your program. This includes  program evaluation (journal articles, evaluation reports), , dissemination materials, and other supporting documents.
                        </p>
                        <ul>
                            <li><u>Program evaluation</u> materials include studies using an experimental or quasi-experimental design, with a comparison or control group (treatment as usual or no treatment, but not an alternative treatment) designed to assess the impact of the program on key outcomes.</li>
                            <li><u>Dissemination materials</u>, though no longer required, are encouraged. These include manuals, curricula, quality assurance materials, training materials, activity props, and such. You may upload documents electronically. Note: You will have the option to list materials that cannot be submitted electronically.</li>
                            <li><u>Other supporting</u> documents could include a more detailed description of your program, its conceptual framework or logic model, materials related to the reliability and validity of your measures, etc.</li>
                        </ul>
                
                        <span style="font-size: large; font-weight: bold;">Upload a File: </span><input type="file" name="UploadedFile" /> <br />
                        <span>Document Title: </span><input type="text" name="FileDescription" />
                        @Html.DropDownList("docTypeDD", DocTypez);
                        <br /><br />
                        <input type="submit" value="Attach" /> <input type="checkbox" /> <span>from Lit Search</span>
                }
            }
        </div>
    }
    else
    {
        <div>
            You may upload files after initially saving 
        </div>
    }

    @{
        List<SelectListItem> DestinationOpts = new List<SelectListItem>();

        foreach (NREPPAdminSite.Models.Destination dest in Model.TheDestinations)
        {
            DestinationOpts.Add(new SelectListItem() { Text = dest.UserName, Value = dest.UserId.ToString() + "," + dest.StatusId.ToString() });
        }
    }
        <div class="submitDiv">
            Please submit your completed program.

            @using (Html.BeginForm("Submit", "Program", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.TheIntervention.Id);
                @Html.HiddenFor(m => m.TheIntervention.SubmitterId);
                @Html.HiddenFor(m => m.TheIntervention.StatusId);
                @Html.HiddenFor(m => m.TheIntervention.ProgramType);
                @Html.HiddenFor(m => m.TheIntervention.Title)
                @Html.HiddenFor(m => m.TheIntervention.FromLitSearch)
                @Html.HiddenFor(m => m.TheIntervention.FullDescription)
                @Html.HiddenFor(m => m.TheIntervention.SubmitterId)
                @Html.HiddenFor(m => m.TheIntervention.UpdatedDate)
                @Html.HiddenFor(m => m.TheIntervention.Acronym)
            
            
                if (Model.TheIntervention.StatusId > 1)
                {
                    @Html.HiddenFor(m => m.TheIntervention.PreScreenMask, new { Id = "preScreenAns" });
               
                    foreach (NREPPAdminSite.Models.MaskValue mask in Model.PreScreen)
                    {
                        bool isChecked = mask.Selected;
                        if (Model.TheIntervention.StatusId == 2) {
                            @Html.CheckBox(mask.Name, isChecked, new { Value = Math.Pow(2, mask.Value), @class = "preScreenMask"}) @mask.Name <br />
                        }
                        else { @Html.CheckBox(mask.Name, isChecked, new { Value = Math.Pow(2, mask.Value), @class = "preScreenMask", disabled = "disabled" }) @mask.Name <br /> }
                    }

                    if (Model.TheIntervention.StatusId == 2)
                    {
                       @Html.DropDownList("selDest", DestinationOpts)
                    }

                }
                else
                {
                    @Html.Hidden("destStatus", 2)
                } 
             }

                @if (Model.TheIntervention.StatusId < 3 && Model.Documents.Count > 0) {
                    <input type="submit" value="Submit" />
                }
        </div>
    </div>
</div>

