@model NREPPAdminSite.Models.Intervention

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Viewing @Model.Title</h2>
<h3>Submitted by @Model.Submitter</h3>

<div>
    You are viewing an intervention record. You do NOT have edit permissions.

    <div style="padding-top: 10px; padding-bottom: 10px;">
        @Model.FullDescription
    </div>

    <div style="height: 45px;">
        <span style="float: left; clear: left;">
            Last Updated On:
        </span>
        <span style="float: left; clear: right; margin-left: 5px;">@Model.UpdatedDate.ToShortDateString()</span>

        <span style="float: left; clear: left;">
            Published On:
        </span>
        <span style="float: left; clear: right; margin-left: 5px;">@(Model.PublishDate.HasValue ? Model.PublishDate.GetValueOrDefault().ToShortDateString() : "Not Published")</span>
    </div>

    <div>
        @using(Html.BeginForm("Edit", "Program"))
        {
            @Html.HiddenFor(m => m.Id);
            @Html.HiddenFor(m => m.SubmitterId);
            @Html.HiddenFor(m => m.StatusId);
            
            @Html.LabelFor(m => m.Title, new { style = "margin-right: 5px;" });
            @Html.TextBoxFor(m => m.Title);
            <br /><br />
            
            @Html.LabelFor(m => m.FullDescription);
            <br />
            @Html.TextAreaFor(m => m.FullDescription, new {cols = "150", rows = "5"}) ;
            <br /><br />
            
            <input type="submit" value="Update" />
             
        }
    </div>
</div>

