@model NREPPAdminSite.Models.IntervPageModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var NumDocs = Model.Documents.Count;
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/programview.js")"></script>
}

<h2>Viewing @Model.TheIntervention.Title</h2>
<h3>Submitted by @Model.TheIntervention.Submitter</h3>
<label>@Model.TheIntervention.Status</label><br />

@if (Model.TheIntervention.StatusId == 4) {
    @Html.ActionLink("Screen this Intervention", "Screen", new { InterventionId = Model.TheIntervention.Id });
}
else if (Model.TheIntervention.StatusId == 5)
{
    @Html.ActionLink("View Screening Results", "ScreenResults", new { IntervId = Model.TheIntervention.Id });
}
<div>

    <div style="height: 100px;">
        <span style="float: left; clear: left;">
            Last Updated On:
        </span>
        <span style="float: left; clear: right; margin-left: 5px;">@Model.TheIntervention.UpdatedDate.ToShortDateString()</span>

        <span style="float: left; clear: left;">
            Published On:
        </span>
        <span style="float: left; clear: right; margin-left: 5px;">@(Model.TheIntervention.PublishDate.HasValue ? Model.TheIntervention.PublishDate.GetValueOrDefault().ToShortDateString() : "Not Published")</span>

        <div class="description">
            <span style="float: left;">@Model.TheIntervention.FullDescription</span>
            <button id="btnToggleEdit">Edit</button>
        </div>
    </div>

    <div class="someform hidden">
        @using(Html.BeginForm("Edit", "Program"))
        {
            @Html.HiddenFor(m => m.TheIntervention.Id);
            @Html.HiddenFor(m => m.TheIntervention.SubmitterId);
            @Html.HiddenFor(m => m.TheIntervention.StatusId);
            @Html.HiddenFor(m => m.TheIntervention.ProgramType, new { Id = "programType" });
            
            @Html.LabelFor(m => m.TheIntervention.Title, new { style = "margin-right: 5px;" });
            @Html.TextBoxFor(m => m.TheIntervention.Title);<br />
            
            @Html.LabelFor(m => m.TheIntervention.Acronym, new { style = "margin-right: 5px;" });
            @Html.TextBoxFor(m => m.TheIntervention.Acronym);
            <br /><br />
            
            @Html.LabelFor(m => m.TheIntervention.FullDescription);
            <br />
            @Html.TextAreaFor(m => m.TheIntervention.FullDescription, new {cols = "150", rows = "5"}) ;
            <br /><br />
            
            foreach (NREPPAdminSite.Models.MaskValue mask in Model.ProgramType)
            {
                bool isChecked = mask.Selected;
                @Html.CheckBox(mask.Name, isChecked, new { Value = Math.Pow(2, mask.Value), @class = "programMask" }) @mask.Name <br />
            }
            <br /><br />

            <input type="submit" value="Update" />
        }
    </div>

    @if (Model.TheIntervention.Id > 0)
    {
        <div class="numOfDocs">
            <span>@Model.Documents.Count Documents Attached to This Program</span>
            <button id="DocButton">View Documents</button>
        </div>
        
        <div class="upload-div hidden">
            <span class="collapsedText hidden">@NumDocs Documents On this Intervention</span>
            <table style="border: 1px solid;">
                <tr> <!-- Header -->
                    <th class="withborder" style="text-align: center;">Description</th>
                    <th class="withborder" style="text-align: center;">Type</th>
                    <th class="withborder" style="text-align: center;">&nbsp;</th>
                </tr>
                @foreach (NREPPAdminSite.Models.InterventionDoc doc in Model.Documents)
                {
                    <tr>
                        <td class="withborder">@Html.ActionLink(@doc.FileDescription, "GetFile", "Admin", new { FileId = doc.DocId }, null)</td>
                        <td class="withborder">@doc.DocumentTypeName</td>
                        <td class="withborder">@Html.ActionLink("Delete", "DeleteDocument", new { InvId = Model.TheIntervention.Id, DocId = doc.DocId })</td>
                    </tr>
                }
            </table>
            @{
                List<SelectListItem> DocTypez = new List<SelectListItem>();
                
                foreach(NREPPAdminSite.Models.Answer ans in Model.DocumentType)
                {
                    DocTypez.Add(new SelectListItem() { Text = ans.ShortAnswer, Value = ans.AnswerId.ToString() });
                }
            }

            @using (Html.BeginForm("Upload", "Program", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.TheIntervention.Id);
                @Html.HiddenFor(m => m.TheIntervention.SubmitterId);
                @Html.HiddenFor(m => m.TheIntervention.StatusId);
                @Html.HiddenFor(m => m.TheIntervention.ProgramType);
                //@Html.HiddenFor(m => )
                
                if (Model.CanDo("UploadDocs"))
                { 
                
                    <span style="font-size: large; font-weight: bold;">Upload a File: </span><input type="file" name="UploadedFile" /> <br />
                    <span>Document Title: </span><input type="text" name="FileDescription" />
                    @Html.DropDownList("docTypeDD", DocTypez);
                    <br /><br />
                    <input type="submit" value="Attach" /> <input type="checkbox" /> <span>from Lit Search</span>
                }
            }
        </div>
    }
    else
    {
        <div>
            You may upload files after initially saving 
        </div>
    }

    @{
        List<SelectListItem> DestinationOpts = new List<SelectListItem>();

        foreach (NREPPAdminSite.Models.Destination dest in Model.TheDestinations)
        {
            DestinationOpts.Add(new SelectListItem() { Text = dest.UserName, Value = dest.UserId.ToString() + "," + dest.StatusId.ToString() });
        }
    }

    @if (Model.TheIntervention.StatusId < 5)
    { 
        <div class="submitDiv">
            Please submit your completed program.

            @using (Html.BeginForm("Submit", "Program", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.TheIntervention.Id);
                @Html.HiddenFor(m => m.TheIntervention.SubmitterId);
                @Html.HiddenFor(m => m.TheIntervention.StatusId);
                @Html.HiddenFor(m => m.TheIntervention.ProgramType);
                @Html.HiddenFor(m => m.TheIntervention.Title)
                @Html.HiddenFor(m => m.TheIntervention.FromLitSearch)
                @Html.HiddenFor(m => m.TheIntervention.FullDescription)
                @Html.HiddenFor(m => m.TheIntervention.SubmitterId)
                @Html.HiddenFor(m => m.TheIntervention.UpdatedDate)
                @Html.HiddenFor(m => m.TheIntervention.Acronym)
            
            
                if (Model.TheIntervention.StatusId > 1)
                {
                    @Html.HiddenFor(m => m.TheIntervention.PreScreenMask, new { Id = "preScreenAns" });
               
                    foreach (NREPPAdminSite.Models.MaskValue mask in Model.PreScreen)
                    {
                        bool isChecked = mask.Selected;
                        if (Model.TheIntervention.StatusId == 2) {
                            @Html.CheckBox(mask.Name, isChecked, new { Value = Math.Pow(2, mask.Value), @class = "preScreenMask"}) @mask.Name <br />
                        }
                        else { @Html.CheckBox(mask.Name, isChecked, new { Value = Math.Pow(2, mask.Value), @class = "preScreenMask", disabled = "disabled" }) @mask.Name <br /> }
                    }

                    if (Model.TheIntervention.StatusId == 2)
                    {
                       @Html.DropDownList("selDest", DestinationOpts)
                    }
                
                }
                else
                {
                    @Html.HiddenFor(m => m.TheIntervention.UserPreScreenMask, new { Id = "preScreenAns" });

                    foreach (NREPPAdminSite.Models.MaskValue mask in Model.PreScreen)
                    {
                        bool isChecked = mask.Selected;
                        if (Model.TheIntervention.StatusId == 2)
                        {
                            @Html.CheckBox(mask.Name, isChecked, new { Value = Math.Pow(2, mask.Value), @class = "preScreenMask" }) @mask.Name <br />
                        }
                        else
                        {
                            @Html.CheckBox(mask.Name, isChecked, new { Value = Math.Pow(2, mask.Value), @class = "preScreenMask", disabled = "disabled" }) @mask.Name <br />
                        }
                                                                                                                                                                                                                                                                 }

                    @Html.Hidden("destStatus", 2)
                }

                if (Model.TheIntervention.StatusId < 3 && Model.Documents.Count > 0) {
                    <input type="submit" value="Submit" />
                }
            }
        </div>
    }
</div>

