@HttpContext.Current.User.Identity.Name
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - NREPPAdmin</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Fonts/css")
    <link rel="icon" type="image/png" href="~/Content/images/#.png" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="http://www.nrepp.samhsa.gov/Index.aspx" target="_blank"><img src="~/Content/images/logo_nrepp.png" height="33" class="navbar-brand" border="0" alt="" /></a>
            <a href="http://www.samhsa.gov" target="_blank"><img src="~/Content/images/logo_samhsa.png" height="33" class="navbar-brand" border="0" alt="" /></a>
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>            
</div>
        <div class="collapse navbar-collapse" id="mainnav">
            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Dashboard", "Programs", "home")</li>
                }
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Reviewers", "Reviewers", "Admin")</li>
                            <li>@Html.ActionLink("Users", "Users", "Home")</li>
                        </ul>
                    </li>
                }
                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi @User.Identity.Name<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("View Profile", "Profile", "Admin")</li>
                            <li>
                                @using (Html.BeginForm("Logout", "Admin", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                                }
                            </li>
                        </ul>
                    </li>
                    <li class="profileImage"><a href="#"><i class="fa fa-user"></i></a></li>
                }
            </ul>
        </div>
    </div>
</nav>
    <!--Render Scripts Earlier than body or else the scripts in the partial views would break -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatables")
<br/><br/><br/><br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

    @RenderBody()
    @Html.AntiForgeryToken()
    @RenderSection("scripts", required: false) <!-- Put the page scripts in here -->

		</div>
	</div>
</div>

<div class="col-sm-12 footer-height-push"></div>

<div class="col-sm-12 footer">
  <h5 class="footer-links pull-right">
  <ul>
    <li><a href="#" target="_blank">Link 1</a></li>
    <li><a href="#" target="_blank">Link 2</a></li>
    <li><a href="#" target="_blank">Link 3</a></li>
    <li><a href="#" target="_blank">Link 4</a></li>
    <li><a href="#" target="_blank">Link 5</a></li>
  </ul>
  </h5>
</div>
</body>


</html>
