<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-nav > li > form > a {
          padding-top: 15px;
          padding-bottom: 15px;
        }
        .navbar-nav > li > form > a {
          padding-top: 10px;
          padding-bottom: 10px;
          line-height: 20px;
        }
        .nav > li > form > a {
          position: relative;
          display: block;
          padding: 15px 15px;
        }
        .navbar-inverse .navbar-nav > li > form > a {
          color: #999999;
        }
        .navbar-inverse .navbar-nav > li > form > a:hover, .navbar-inverse .navbar-nav > li > form > a:focus {
          color: #ffffff;
          background-color: transparent;
        }
        .nav > li > form > a:hover {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("NREPP Admin Beta", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Programs", "Programs", "home")</li>
                }
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Reviewers", "Reviewers", "Admin")</li>
                            <li>@Html.ActionLink("Users", "Users", "Home")</li>
                        </ul>
                    </li>
                }
                <!-- You need to add something to check for logged in user before this -->

                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Profile", "Profile", "Admin")</li>

                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage</a>
                        <ul class="dropdown-menu"><li>@Html.ActionLink("Reviewers", "Reviewers", "Home")</li></ul>
                    </li>

                    <li>
                        @using (Html.BeginForm("Logout", "Admin", FormMethod.Post, new {id = "logoutForm"}))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<!--Render Scripts Earlier than body or else the scripts in the partial views would break -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/datatables")

<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DSG</p>
        </footer>
    </div>
    
    @RenderSection("scripts", required: false) <!-- Put the page scripts in here -->
    @Html.AntiForgeryToken()

    <script>
        $(function () {
            $('.logout').click(function () {
                var token = $(':input:hidden[name*="RequestVerificationToken"]');
                var data = {};
                alert(this.href);
                data[token.attr('name')] = token.val();
                $.ajax({
                    url: this.href,
                    type: 'POST',
                    data: data,
                    success: function (result) {

                    },
                    error: function () {

                    }
                });

                return false;
            });
        });
    </script>
</body>
</html>
