<!-- You will need to change the model once the programs become available -->
@model List<NREPPAdminSite.Models.Intervention>

@{
    ViewBag.Title = "Programs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome, @ViewBag.Fname</h2>

<div>
    <table>
        <tr>
            <th>Title</th>
            <th>Full Description</th>
            <th>Updated Date</th>
            <th>Submitter</th>
        </tr>

        @{
            foreach(NREPPAdminSite.Models.Intervention inv in Model)
            {
                <tr>
                    <!-- <td>@inv.Title</td> -->
                    <td>@Html.ActionLink(inv.Title, "View", "Program", new {InvId = inv.Id }, new {id = "link" + inv.Id.ToString() }) </td>
                    <td>@inv.FullDescription</td>
                    <td>@inv.UpdatedDate.ToShortDateString()</td>
                    <td>@inv.Submitter</td>
                </tr>
            }
        }
    </table>
    @Html.ActionLink("Create a New Submission", "View", "Program", new { InvId = "-1" }, null)
    @Html.ActionLink("Log Out", "Logout", "Admin", null, null)
</div>