@model NREPPAdminSite.Models.JoinProgramModel

@{
    ViewBag.Title = "Accept Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Join @Model.TheIntervention.Title</h2>

@if (Model.CanAccess == 0)
{ 
    <div class="Program-Description">
        COI Goes here when ready.
    </div>
}
else if (Model.CanAccess == 2)
{
    <div class="CantAccess">
        <span>You cannot view the conflict of interest form or accept this invitation until you log in.</span>

        <h3>Documents Associated with the Program</h3>
        <ul>
            @foreach(NREPPAdminSite.Models.RCDocument doc in Model.Documents)
            {
                <li>@doc.Reference</li>
            }
        </ul>

        <div>
            @using(Html.BeginForm("SimpleDecline", "Admin"))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("ReviewerId", Model.UserId)
                @Html.Hidden("InterventionId", Model.TheIntervention.Id)
                
                <span>Reason For Declining: </span>
                @Html.TextArea("reason")
                
                <input type="submit" value="Decline" />
                @Html.ActionLink("Login", "Login", new { returnUrl = Request.Url.PathAndQuery })
            }
        </div>

        <!-- TODO: Put Login Link here -->
    </div>
}
else
{
    <div>
        You are not the indended audience of this page.
    </div>
}

<!-- Use the "registered" information to show whether we're viewing this -->

