@model NREPPAdminSite.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log in to NREPP";
}

    <h2>@ViewBag.Title</h2>

    <div style="padding-top: 10px;">
        @using (Html.BeginForm("Login", "Admin"))
        {
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName);
            <br />
            
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password);
            <br />
            
            <input type="submit" value="Login" />
        }
    </div>


