@model NREPPAdminSite.Models.RegisterViewModel
@{
    ViewBag.Title = "Registration Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div>
    Old Salt: @ViewBag.SomeValue
</div>
<div>
    @using(Html.BeginForm("Register", "Admin")) {
    @Html.AntiForgeryToken();
    <div>
        <span style="padding-right: 10px;">@Html.LabelFor(m => m.UserName)</span>
        <span>@Html.TextBoxFor(m => m.UserName)</span>
    </div>

    <div>
        <span style="padding-right: 10px;">@Html.LabelFor(m => m.Password1)</span>
        <span>@Html.TextBoxFor(m => m.Password1)</span>
    </div>

    <input type="submit" value="Register" />
    }
</div>

